.leftBar{
    width: 200px;
    box-shadow: -2px 10px 16px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(227, 212, 182);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img{
        height: 80px;
    }
}
.menuToggle{
    display: none;
    position: absolute;
    top: 100px;
    left: 180px;
    border-radius: 100%;
    background-color: rgb(253, 235, 189);
    border-color: rgb(73, 73, 73);
    height: 50px;
    width: 50px;
    font-size: 24px;
    padding-top: 3px;
}
.leftBarOpen{
    animation-name: openAnimation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    
}
.leftBarClose{
    animation-name: closeAnimation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.buttonOpen{
    animation-name: buttonOpen;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.buttonClose{
    animation-name: buttonClose;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@media screen and (max-width: 780px) {
    .menuToggle{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 20px;
        }
    }
}


@keyframes openAnimation {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
  }

  @keyframes closeAnimation {
    from {
        width: 200px;
    }
    to {
        width: 0px;
    }
  }

  @keyframes buttonClose {
    from {
        left: 180px;
    }
    to {
        left: -20px;
    }  
  }
  @keyframes buttonOpen {
    from {
        left: -20px;
    }
    to {
        left: 180px;
    }
  }