.bestSeller {
  // width: calc(100% - 740px);
  box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.25);

  h2 {
    text-align: center;
  }
  .bestItem {
    height: 50px;
    display: flex;
    gap: 5px;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    
    span{
      text-decoration: none;
    }

    .bestSales {
      display: flex;
      flex-direction: column;
      width: 200px;
    }

    h3 {
      font-size: 20px;
    }
    img {
      width: 42px;
      height: 42px;
      background-color: rgb(171, 167, 167);
      border-radius: 50px;
      padding: 4px;
    }
  }
  .bestItemTitle, .bestItemDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
