.item {
  width: 191px;
  box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 4px;
  position: relative;
  .itemPicture {
    width: 100%;
    height: 129px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .itemDesc {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 17px;
    span{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 5px;
    }
    span:last-of-type{
      color: gray;
    }
  }
  .itemCart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-image: url('../../images/cartIcon.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}

