.home {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 2rem;

  .itemsAndBestSeller {
    display: flex;
    width: 100%;
    gap: 40px;
    margin: 2rem 0;
    justify-content: space-between;
    .items {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 70%;
    }
    .exploreSection {
      display: flex;
      gap: 50px;
      width: 100%;
    }
  }

  .homeFirstRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .saleBox {
    width: 700px;
    height: 330px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;

    .sellBoxImage {
      width: 300px;
      height: 300px;
      background-repeat: no-repeat;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .sellBoxText {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-evenly;
    }
    .buttonBox {
      display: flex;
      justify-content: space-around;

      button {
        align-items: center;
        appearance: none;
        background-color: #fcfcfd;
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395a;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono", monospace;
        height: 30px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
        box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
        transition: all 0.3s linear;
        &:hover {
          background-color: rgb(227, 212, 182);
        }
      }
    }

    .sellBoxText {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-evenly;
    }
  }

  .advertise {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(107deg, #42990d 13.38%, #076969 87.5%);
  }

  .advertise {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(107deg, #42990d 13.38%, #076969 87.5%);
    position: relative;
    color: white;
    font-family: "Podkova", serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    img {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  .homeFirstSwiper {
    box-shadow: 5px 10px 8px #bfbdbd;
    .swiper {
      width: 100%;
    }
  }

  .swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-cards {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    a {
      color: #000000;
      text-decoration: underline;
    }
  }

  .homeSecondSwiper {
    .swiper-slide:nth-child(1n) {
      background-color: rgb(233, 177, 87);
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgb(222, 146, 59);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgb(217, 191, 148);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgb(150, 85, 10);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgb(255, 224, 174);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgb(222, 146, 59);
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }
  }
}

@media screen and (max-width: 1024px) {
  .sellBoxImage {
    width: 85px !important;
    height: 80px !important;
  }
  .home {
    .saleBox {
      width: 100%;
      height: 100%;
      background: #fff;
      display: flex;
      justify-content: flex-start;
      gap: 0rem;
      flex-direction: column;
      align-items: center;
      .sellBoxText {
        padding-right: 1rem;
        align-items: center;
      }
      .buttonBox {
        display: flex;
        justify-content: space-around;
        gap: 0.5rem;
        button {
          font-size: 14px;
        }
      }
    }
    .advertise {
      height: 160px;
    }
    .homeFirstRow {
      justify-content: center;
      flex-direction: column;
    }
    .homeFirstSwiper {
      width: 100% !important;
      .swiper {
        height: 250px !important;
      }
    }
    .itemsAndBestSeller {
      flex-direction: column;
      .items {
        width: 100%;
        justify-content: center;
      }
      .bestSeller {
        width: 100%;
      }
      .exploreSection {
        display: flex;
        gap: 50px;
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffba5b !important;
}
