.App {
  display: flex;
  height: 100vh;
  transition: width 0.3s ease; /* Smooth transition for sidebar */
}

.layout {
  flex: 1;
  transition: margin-left 0.3s ease;
}

/* Link styles */
a {
  text-decoration: none;
  color: black;
}

/* Mobile styles */
@media screen and (max-width: 780px) {
  .App {
    flex-direction: column;
  }
  
  
}
